<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="MarginOfError" value="0.00001" />
    <add key="VariantTypes" value="Snv,Mnv,Del,Ins" />
    <add key="Verbose" value="false" />
    <add key="BlockSize" value="5000000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
